<div class="center hero-unit">
  <h1>Hello Boots!</h1>

  <h2>
    My name is Irvine Ndwiga. I was born in Kenya, lived there till I was 19 before moving to Perth, WA for Uni. Online, you can find me <a href="http://facebook.com/imndwiga">here</a>, <a href="http://twitter.com/imndwiga/">here</a> and <a href="http://imrayzar.tumblr.com/">here</a>. I look forward to meeting you all :)

  </h2>
	<%= link_to image_tag("2011.jpg", alt: "me") %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
